[submodule "src/gsap/toolset/bcftools"]
	path = src/gsap/toolset/bcftools
	url = https://github.com/samtools/bcftools.git
[submodule "tests/toolbox/onedrive-link"]
	path = tests/toolbox/onedrive-link
	url = https://github.com/felixrieseberg/onedrive-link.git
